# Backend (Spring Boot)
ems-backend/target/
ems-backend/.env

# Frontend (Node/Vite)
ems-frontend/node_modules/
ems-frontend/dist/
ems-frontend/.env

# IDE
*.iml
.idea/
.vscode/

# Systemowe
.DS_Store
Thumbs.db

# Cache itp.
*.cache
